body {
            margin: 0;
            background-color: #fff0df;
        }

        #heading {
            width: 100%;
        }

        h1 {
            font-size: 3.5rem;
            text-align: center;
            color: #4b2607;
        }

        nav {
            display: none;
        }

        nav span {
            text-decoration: none;
            background-image: url(../images/g_print.png);
            background-position: center;
            border-radius: 5px;
            margin: 0 3px 0 3px;
            padding: 8px 15px;
            border: 1px solid #f59e42;
        }

        nav span button {
            font-size: 1rem;
            color: white;
            background-color: #f59e42;
            border: 1px solid rgba(240, 248, 255, 0.358);
            border-radius: 5px;
            font-weight: bold;
            transition: 0.3s;
            height: 100%;
        }

        #content {
            background-color: #f59e42;
            align-items: stretch;
            min-height: 100vh;
        }

        #left-col {
            margin: 2%;
            width: 21%;
            display: flex;
            flex-direction: column;
            background-image: url(../images/g-print-bg.png);
            background-position: center;
            background-size: cover;
            border: 2px solid #733a0c;
            min-height: 100%;
            text-align: center;
        }

        #left-col button {
            background-color: #f59e42;
            border-radius: 5px;
            border: 2px solid #733a0c;
            color: white;
            font-size: 1.3rem;
            margin: 5px auto;
            padding: 10px 15px;
            transition: 0.3s;
            width: 80%;
        }

        #main-cont1 {
            width: 48%;
            margin: 2% 0;
            padding: 0 2%;
            flex: 1;
            min-height: 100%;
        }
        

        #main-cont {
            width: 48%;
            margin: 2% 0;
            padding: 0 2%;
            flex: 1;
            min-height: 100%;
            background-color: #4b2607;
            display: flex;
        }

        h2 {
            text-align: center;
            font-size: 2rem;
            margin: 8px auto 8px auto;
            color: #4b2607;
        }

        p {
            text-align: center;
            font-size: 1.2rem;
            color: #733a0c;
        }

        h3 {
            text-align: center;
            font-size: 1.7rem;
            color: #733a0c;
            margin: 15px auto 8px auto;
        }

        .h3G {
            text-align: center;
            margin: 15px auto 8px auto;
            color: #f59e42;
            font-size: 1.5rem;
        }

        hr {
            background-color: #733a0c;
            height: 1px;
            border: 0;
        }

        ul {
            color: #733a0c;
            font-size: 1.2rem;
            list-style-type: circle;
        }

        #photos {
            width: 46%;
            margin: 2%;
            border: 1px solid #f59e42;
        }

        #photos #all-photos-1024-768 {
            display: none;
        }

        #photos div img {
            /*filter: grayscale(1) brightness(0.5);*/
            filter: sepia(100%) hue-rotate(335deg) brightness(60%) saturate(300%);
            transition: 0.1s;
        }

        #videos {
            width: 46%;
            margin: 2%;
            border: 1px solid #f59e42;
        }

        #videos #all-videos div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #f59e42;
            padding: 5px;
        }

        video {
            margin: auto;
            width: 370px;
        }

        #right-col {
            margin: 2%;
            width: 21%;
            display: flex;
            flex-direction: column;
            background-image: url(../images/g-print-bg.png);
            background-position: center;
            background-size: cover;
            border: 2px solid #733a0c;
            min-height: 100%;
        }

        #goToTop {
            border-radius: 100%;
            background-color: #f59e42;
            width: 48px;
            height: 45px;
            position: fixed;
            bottom: 20px;
            right: 10px;
            z-index: 99;
            cursor: pointer;
            border: 2px solid #4b2607;
            display: none;
        }

        #footing {
            background-color: #fff0df;
            color: #4b2607;
            width: 100%;
            padding: 30px 0 15px 0;
            border-top: 10px dashed #4b2607;
        }

        #contactDiv {
            display: flex;
            justify-content: center;
        }

        #contactDiv img {
            margin: 2px;
        }

        @media (hover: hover) {
            nav span button:hover {
                padding: 6px 10px;
                border: 1px solid #f59e42;
                background-color: white;
                color: #f59e42;
            }

            #left-col button:hover {
                background-color: white;
                color: #733a0c;
            }

            #photos img:hover {
                filter: sepia(0%);
            }
        }

        @media only screen and (max-width: 1200px) {
            #heading {
                width: 40%;
            }

            nav {
                display: flex;
                width: 75%;
            }

            h1 {
                font-size: 3rem;
            }

            #left-col {
                display: none;
            }

            #right-col {
                display: none;
            }

            #main-cont1 div {
                width: 80%;
                margin: auto;
            }

            #main-cont div {
                width: 95%;
                margin: auto;
            }

            #main-cont {
                display: flex;
                flex-direction: column;
            }

            #photos,
            #videos {
                width: 80%;
                margin: auto;
            }

            #photos #all-photos {
                display: flex;
                flex-direction: column;
            }

            #videos #all-videos {
                display: flex;
                flex-direction: row;
            }

            #videos #all-videos div {
                flex-direction: column;
                border: none;
            }

            video {
                width: 250px;
            }

        }

        @media only screen and (max-width: 1024px) {
            h2 {
                font-size: 2.2rem;
            }

            #photos #all-photos div img {
                width: 48%;
            }

            video {
                width: 350px;
            }


            #videos #all-videos {
                display: flex;
                flex-direction: column;
            }

            #videos #all-videos div {
                border: 1px solid #f59e42;
            }
        }


        @media only screen and (max-width: 768px) {
            #heading {
                width: 80%;
            }

            h1 {
                font-size: 2.5rem;
            }

            h2 {
                font-size: 2rem;
            }

            nav {
                width: 80%;
            }

            #photos #all-photos div img {
                filter: sepia(0%);
            }

            #photos h3 {
                display: none;
            }

            video {
                width: 250px;
            }

            #contactDiv img {
                margin: 2.5px;
            }

            #footing h2 {
                font-size: 1.5rem;
            }

            #footing .h3G, #footing h3 {
                font-size: 1.1rem;
            }
        }

        /*Сравнявано с минимум 320px, така като това е най-малката ширина на екран, според https://protostar.space */
        @media only screen and (max-width: 480px) {
            nav span {
                margin: 0 3px;
                padding: 8px 5px;
            }

            h2 {
                font-size: 1.7rem;
            }

            h3 {
                font-size: 1.5rem;
            }

            #contactDiv img {
                margin: 4px;
            }

            nav span {
                margin: 0 3px;
                padding: 8px 5px;
            }

            #photos #all-photos,
            #photos #all-photos div {
                display: flex;
                flex-direction: column;
            }

            #photos #all-photos div img {
                width: 98%;
            }

            video {
                width: 250px;
            }

            #contactDiv img {
                margin: 4px;
            }
        }